/* Fonts Imports */
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Noto+Kufi+Arabic:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .abs-center {
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
  }

  .container {
    @apply w-11/12 md:w-10/12 lg:w-9/12 mx-auto;
  }

  .section {
    @apply relative w-full mt-24 mx-auto;
  }

  html,
  body {
    @apply font-noto_kufi;
  }

  ::-webkit-scrollbar {
    @apply w-1 h-[5px];
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-gray_light;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-[50px];
  }

  .border-theme {
    @apply border border-light dark:border-dark;
  }

  .cards-grid-4 {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4;
  }

  .cards-grid-3 {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4;
  }

  .cards-grid-2 {
    @apply grid grid-cols-1 md:grid-cols-2 gap-4;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: circle;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
